/* App styles */
.App {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 10px;
}

/* Website Header */
#header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  background-image: url("https://www.shutterstock.com/image-vector/pastry-sweet-bakery-seamless-pattern-600nw-1709972164.jpg");
}

#logo {
  height: 80px;
  width: 80px;
}

#site-title {
  color: #123c69;
  text-align: center;
  font-family: "Cute Font", sans-serif;
  font-weight: bolder;
  font-size: 5.5em;
}

#empty-header {
  height: 80px;
  width: 80px;
}

/* Nav Bar Styles */
.nav-bar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
}

/* Nav Item Styles */
.link-styles {
  text-decoration: none;
  color: #ac3b61;
  padding: 5px;
}

.link-styles:hover {
  color: #edc7b7;
  background-color: #ac3b61;
  padding: 5px;
  border-radius: 3px;
}

/* Image Card Styles */
#image-card-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
  position: relative;
  width: 200px;
}

#image-card-div:hover .overlay {
  opacity: 0.8;
}

#image-card-img {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}

img:hover,#image-card-div:hover{
  cursor: pointer;
}

#image-card-text {
  color: #123c69;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Patua One", serif;
  font-size: 2em;
}

#categories-list {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #bab2b5;
  border-radius: 5px;
}

/* Product Card Styles */
#product-card-div {
  width: 200px;
  height: auto;
  margin: 10px;
}

#image-overlay-div {
  position: relative;
  width: 150px;
}

#product-card-img {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.img-in-stock {
  display: none;
}

.img-out-stock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  background-color: #bab2b5;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: "Work Sans", sans-serif;
}

#product-card-name {
  color: #123c69;
  font-family: "Patua One", serif;
  font-size: 1.1em;
}

#product-card-name:hover{
  cursor: pointer;
}

#product-card-price {
  color: #356eaa;
  font-family: "Lato", sans-serif;
}

/* Product Page Styles */
#products-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

#product-page-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Product Details Page Styles */
#product-details-div{
  display: flex;
  flex-direction: row;
  margin: 30px;
  gap: 40px;
}

#product-details-img{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

#product-details-name-price{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

#add-to-cart-btn{
  align-self: center;
}

/* Cart Page Styles */
#cart-page-div {
  display: flex;
  flex-direction: row;
}

#items-in-cart-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  padding: 10px 25px;
}

.cart-title {
  color: #123c69;
  font-family: "Patua One", serif;
  font-size: 1.5em;
}

#cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cart-item-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#cart-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cart-info {
  color: #123c69;
}

#cart-info-name {
  width: 55%;
}

#cart-info-price {
  width: 15%;
}

#cart-info-quantity {
  width: 5%;
}

#cart-total {
  color: #123c69;
  font-size: 1.5em;
}

.cart-button {
  background-color: #fff;
  border: 2px solid #ac3b61;
  border-radius: 30px;
  box-shadow: #ac3b61 2px 2px 0 0;
  color: #ac3b61;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  padding: 0 15px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
}

.cart-button:hover {
  background-color: #edc7b7;
}

.cart-button:active {
  box-shadow: #ac3b61 2px 2px 0 0;
  transform: translate(2px, 2px);
}

form{
  width: 60%;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#shipping-form-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 25px;
}

#name-input-div {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.name-div{
  width: 49%;
}

.payment-input-div {
  display: flex;
  flex-direction: column;
}

#expiration-date-div {
  display: flex;
  flex-direction: row;
}

input {
  padding: 5px;
  font-size: 1em;
  border-radius: 7px;
  border: 1px solid #bab2b5;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline: 2px solid #ac3b61;
}

label {
  color: #313131;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.9em;
}

#payment-btn{
  align-self: center;
}

.pop-up-msg{
  color: white;
}

/* Footer Styles */
#footer-div {
  font-family: "Source Code Pro", monospace;
  color: #ac3b61;
  text-align: center;
}
